table.shop_table {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-bottom: 50px;
    width: 100%;
}
table.shop_table th, table.shop_table td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}
table.shop_table th {
    background: none repeat scroll 0 0 #f4f4f4;
    font-size: 15px;
    text-transform: uppercase;
}
td.product_thumbnail img {
    height: auto;
    width: 70px;
}
td.product_name {
    font-size: 18px;
}
td.product_quantity div.quantity {
    float: none;
    margin: 0;
}
tr.actions  {
    float: center;
}

div.quantity input.plus, div.quantity input.minus {
    background: none repeat scroll 0 0 #5a88ca;
    border: medium none;
    color: #fff;
    height: 36px;
    line-height: 15px;
    width: 25px;
}

table.shop_table td.product_remove a {
    display: inline-block;
    padding: 0 5px 2px;
    text-transform: uppercase;
  }
  
  
  table.shop_table td.product_remove a:hover {color: #fff;background: red;text-decoration: none}
  table.shop_table td.product_name a{color: #222;}
  table.shop_table td.product_name a:hover {color: #5a88ca;text-decoration: none}
  div.quantity input.plus:hover, div.quantity input.minus:hover {background-color: #222}
  div.cart-collaterals ul.products li.product a:hover h3 {color: #5a88ca}
  div.cart-collaterals ul.products li.product a:hover {text-decoration: none}
  
  div.cart-collaterals ul.products li.product:hover .add_to_cart_button{background-color: #222}
  
  input[type="button"], button[type=button] {
    background: none repeat scroll 0 0 #5a88ca;
    border: medium none;
    color: #fff;
    padding: 11px 20px;
    text-transform: uppercase;
}
.quantity {
    float: left;
    margin-right: 15px;
}
.quantity input[type="number"] {
    border: 1px solid #5a88ca;
    padding: 5px;
    width: 50px;
}
  
